<!doctype html>
<html lang="fr">
	<head>
		<title>HerbaChat Server</title>
	</head>
	
	<body>
		<h1>This is the default home page</h1> 
			
	<!-- Le navigateur doit télécharger le script suivant pour faire fonctionner la socketio. -->
	<!-- Il est disponible en ligne avec le lien suivant. J'ai également fait une copie dans le dossier statique pour utilisation hors ligne -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script> -->
	<script src="/static/socket.io.min.js"></script>
	<script src = "/static/main.js" > </script>	
	</body>
</html>  
